<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Swimming</key>
	<string>athletic</string>
	<key>Tennis</key>
	<string>athletic</string>
	<key>Bicycling</key>
	<string>athletic</string>
	<key>Beach Activities</key>
	<string>athletic</string>
	<key>Skateboarding</key>
	<string>athletic</string>
</dict>
</plist>
