<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asdfasf</key>
	<string>night</string>
	<key>sdfgsdfg</key>
	<string>night</string>
	<key>gdfssgdf</key>
	<string>night</string>
	<key>gfdsgf</key>
	<string>night</string>
	<key>fdgsgsdf</key>
	<string>night</string>
	<key>dfgsgsdf</key>
	<string>night</string>
	<key>dfgsgds</key>
	<string>night</string>
	<key>dfgsgdfs</key>
	<string>night</string>
</dict>
</plist>
