<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>To Eat</string>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>2Outdoor</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2Indoor</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2Athletic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2Family</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2Free</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2Gym/Spa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2Leisure</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2Night Life</string>
		</dict>
	</array>
</dict>
</plist>
