<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>To Do</string>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>Outdoor</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Indoor</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Athletic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Family</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Free</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gym/Spa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Night Life</string>
		</dict>
	</array>
</dict>
</plist>
