<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Music</string>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>What To Do</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Beach Volleyball</string>
					<key>items</key>
					<array>
						<string>Central Beach</string>
						<string>Tidelands Park</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Skateboarding</string>
					<key>items</key>
					<array>
						<string>Tidelands Park</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Swimming</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Coronado Shores</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Municipal Pool</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Coronado Beach</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Tennis</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Nothing Safe</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Again</string>
								</dict>
								<dict>
									<key>name</key>
									<string>I Stay Away</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Get Born Again</string>
								</dict>
								<dict>
									<key>name</key>
									<string>We Die Young</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Dirt</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Them Bones</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Dam That River</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Rain When I Die</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Down in A Hole</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Bicycling</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Out Of Exile</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Your Time Has Come</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Out Of Exile</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Be Yourself</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Doesn&apos;t Remind Me</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Drown Me Slowly</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>What To See</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>The All-American Reject</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>The All-American Rejects</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Swing, Swing</string>
								</dict>
								<dict>
									<key>name</key>
									<string>One More Sad Song</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Why Worry</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Don&apos;t Leave Me</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Drive Away</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Move Along</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Dirty Little Secret</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Stab My Back</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Move Along</string>
								</dict>
								<dict>
									<key>name</key>
									<string>It Ends Tonight</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Change Your Mind</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>When The World Comes Down</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>I Wanna</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fallin&apos; Apart</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Damn Girl</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Gives You Hell</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Mona Lisa</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Jason Mraz</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Waiting For My Rocket To Come</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>You And I Both</string>
								</dict>
								<dict>
									<key>name</key>
									<string>I&apos;ll Do Anything</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Remedy</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Who Needs Shelter</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Curbside Prophet</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>The Cardigans</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>A Camp</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Frequest Flyer</string>
								</dict>
								<dict>
									<key>name</key>
									<string>I Can Buy You</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Angle Of Sadness</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Such A Bad Comedown</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Song For The Leftovers</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>First Band On The Moon</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Your New Cuckoo</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Been It</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Heartbreaker</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Happy Meal II</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Step On Me</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Gran Turismo</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Paralyzed</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Erase-Rewind</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Explode</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Starter</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Hanging Around</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Where To Eat</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>The Ataris</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>So Long, Astoria</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>So Long, Astoria</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Takeoffs And Landings</string>
								</dict>
								<dict>
									<key>name</key>
									<string>In This Diary</string>
								</dict>
								<dict>
									<key>name</key>
									<string>My Reply</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Unopened Letter To The World</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Saddest Song</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>The Offspring</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Conspiracy Of One</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Come Out Swinging</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Original Prankster</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Want You Bad</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Million Mile Away</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Damn, I Changed Again</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Living In Chaos</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Ixnay On The Hombre</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Disclaimer</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Meaning Of Life</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Mota</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Me &amp; My Old Lady</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Cool To Hate</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Leave It Behind</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Me Myself &amp; Irene</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Totalimmortal</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Where To Shop</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>The Crystal Method</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Weapons of Mass Distortion</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Acetone</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Bound Too Long</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Keep Hope Alive</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Legion Of Boom</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Now Is The Time</string>
								</dict>
								<dict>
									<key>name</key>
									<string>She&apos;s My Pusher</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Daft Punk</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Discovery</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>One More Time</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Aerodynamic</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Digital Love</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Harder, Better, Faster, Stronger</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Crescendolls</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Nightvision</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Human After All</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Human After All</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Prime Time Of Your Life</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Robot Rock</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Steam Machine</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Make Love</string>
								</dict>
								<dict>
									<key>name</key>
									<string>The Brainwasher</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Around The World</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Around The World</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Glitch Mob</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Drink The Sea</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Animus Vox</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Bad Wings</string>
								</dict>
								<dict>
									<key>name</key>
									<string>How To Be Eaten By A Woman</string>
								</dict>
								<dict>
									<key>name</key>
									<string>A Dream Within A Dream</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fistful Of Silence</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Between Two Points</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Where To Stay</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Fifth1</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Fifth2</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Fifth3</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth5</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth6</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth7</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth8</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Fifth9</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Fifth10</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Fifth11</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth12</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth13</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth14</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth15</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth16</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Fifth17</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Fifth18</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth19</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth20</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth21</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth22</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth23</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Fifth24</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Fifth25</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Where To Shop</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Fifth27</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Fifth28</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth29</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth30</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth31</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth32</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Fifth33</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>How To Travel</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Sixth1</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sixth2</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Sixth3</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth5</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth6</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth7</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth8</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Sixth9</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sixth10</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Sixth11</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth12</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth13</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth14</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth15</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth16</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Sixth17</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Sixth18</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth19</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth20</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth21</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth22</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth23</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>Sixth24</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Sixth25</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Sixth26</string>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Sixth27</string>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Sixth28</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth29</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth30</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth31</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth32</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Sixth33</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
